# Copy this file to .env and fill in your keys
# .env is gitignored — your keys never leave this machine

AEROAPI_KEY=pxHstcPu9doZKZ5WWNk1pxJMbOoE9Xv9
OS_CLIENT_ID=wwu697-api-client
OS_CLIENT_SECRET=8t8XuJ5Yvq8g7mziDlaqJlTD85j6ytTt
PORT=3001
